services:
  postgres:
    image: postgres:17-alpine
    container_name: payment-system-db
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_user
      POSTGRES_PASSWORD: payment_pass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5450:5432"
    networks:
      - payment-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U payment_user -d payment_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: payment-system-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@payment.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5055:80"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - payment-network
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local

networks:
  payment-network:
    driver: bridge